/accounts/migrations/
/auditoria/migrations/
/clientes/migrations/
/core/migrations/
/precios/migrations/
/productos/migrations/
/proveedores/migrations/
/ventas/migrations/

venv/

__pycache__/
*.py[cod]
*$py.class