/accounts/migrations/
/auditoria/migrations/
/clientes/migrations/
/core/migrations/
/precios/migrations/
/productos/migrations/
/proveedores/migrations/
/ventas/migrations/

*.egg
*.whl
*.egg-info/
dist/
build/
venv/
venv/
env/
/bin/
/include/
/lib/
/share/
*.pyc
__pycache__/
