/accounts/migrations/
/auditoria/migrations/
/clientes/migrations/
/core/migrations/
/precios/migrations/
/productos/migrations/
/proveedores/migrations/
/ventas/migrations/
/api/migrations/


# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

*.egg
*.whl
*.egg-info/
dist/
build/
venv/
venv/
env/
/bin/
/include/
/lib/
/share/
*.pyc

